link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
script(src='/jquery/dist/jquery.min.js')
script(src='/underscore/underscore-min.js')
script(src='/moment/moment.js')
script(src='/echarts/dist/echarts.min.js')
script(src='/bootstrap/dist/js/bootstrap.js')
script(src='/javascripts/charts.js')
