extends ../charts-layout
block content
	.container#error-type-container(data-data=errors,style='height:600px')
	.container#warning-type-container(data-data=warnings,style='height:600px')
	.container#near-days-container(data-data=reports,style='height:600px')