form#editer_tfs_form
	.form-row
		.form-group.col-md-6
			label.col-form-label(for="inputProjName") 项目名称
			input.form-control(type='text',name='projName',id="inputProjName",placeholder="请填写项目中文名称")
			input.form-control(type='hidden',name='_id')
			input.form-control(type='hidden',name='versionControl')
		.form-group.col-md-6
			label.col-form-label(for="inputCreatedTime") 创建时间
			input.form-control(readonly,type='text',name='createdTime',id='inputCreatedTime')
	.form-row
		.form-group.col-md-6
			label.col-form-label(for='inputHost') TFS主机
			input.form-control(readonly,type='text',name='host',id='inputHost',placeholder='请填写tfs服务的主机名称')
		.form-group.col-md-6
			label.col-form-label(for='inputCollectionName') 集合名称
			input.form-control(readonly,type='text',name='collectionName',id='inputCollectionName',placeholder='请填写TFS的集合名称')
	.form-row
		.form-group.col-md-12
			label.col-form-label(for='inputPath') 源代码地址
			input.form-control(readonly,type='text',name='path',id='inputPath',placeholder='请填写源代码所在的目录地址')