<!DOCTYPE html>
<head>
  <title></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1></h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>文件路径</th>
            <th>错误描述</th>
            <th>规则说明</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>wewr</td>
            <td>wer</td>
            <td>wer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>