extends ../layout
block content
	.container
		.row
			form(method='post',action='/register/save')
				label 项目名称
				input(type='text',name='projName')
				label 文件夹名称
				input(type='text',name='dir')
				label TFS主机
				input(type='text',name='host')
				label 集合名称
				input(type='text',name='collectionName')
				label 代码地址
				input(type='text',name='path')
				input(type='submit')